# Bank Marketing (with social/economic context)

It is a dataset that describing Portugal bank marketing campaigns results.
Conducted campaigns were based mostly on direct phone calls, offering bank client to place a term deposit.
If after all marking afforts client had agreed to place deposit - target variable (_y_) marked 'yes', otherwise 'no'

Downloaded from https://www.kaggle.com/volodymyrgavrysh/bank-marketing-campaigns-dataset

In [1]:
import pandas as pd

# Load Data

In [6]:
 df = pd.read_csv("../data/clean/bank-additional-full_cleaned.csv")

In [7]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [8]:
df.shape

(41176, 21)

In [10]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

# Feature Exploration

**Overal Statistic**

In [11]:
for column in df.columns:
    print('Statistic for', column)
    print(df[column].describe())
    print('---------------------')

Statistic for age
count    41176.00000
mean        40.02380
std         10.42068
min         17.00000
25%         32.00000
50%         38.00000
75%         47.00000
max         98.00000
Name: age, dtype: float64
---------------------
Statistic for job
count      41176
unique        12
top       admin.
freq       10419
Name: job, dtype: object
---------------------
Statistic for marital
count       41176
unique          4
top       married
freq        24921
Name: marital, dtype: object
---------------------
Statistic for education
count                 41176
unique                    8
top       university.degree
freq                  12164
Name: education, dtype: object
---------------------
Statistic for default
count     41176
unique        3
top          no
freq      32577
Name: default, dtype: object
---------------------
Statistic for housing
count     41176
unique        3
top         yes
freq      21571
Name: housing, dtype: object
---------------------
Statistic for loan
count     41176
unique        3
top          no
freq      33938
Name: loan, dtype: object
---------------------
Statistic for contact
count        41176
unique           2
top       cellular
freq         26135
Name: contact, dtype: object
---------------------
Statistic for month
count     41176
unique       10
top         may
freq      13767
Name: month, dtype: object
---------------------
Statistic for day_of_week
count     41176
unique        5
top         thu
freq       8618
Name: day_of_week, dtype: object
---------------------
Statistic for duration
count    41176.000000
mean       258.315815
std        259.305321
min          0.000000
25%        102.000000
50%        180.000000
75%        319.000000
max       4918.000000
Name: duration, dtype: float64
---------------------
Statistic for campaign
count    41176.000000
mean         2.567879
std          2.770318
min          1.000000
25%          1.000000
50%          2.000000
75%          3.000000
max         56.000000
Name: campaign, dtype: float64
---------------------
Statistic for pdays
count    41176.000000
mean       962.464810
std        186.937102
min          0.000000
25%        999.000000
50%        999.000000
75%        999.000000
max        999.000000
Name: pdays, dtype: float64
---------------------
Statistic for previous
count    41176.000000
mean         0.173013
std          0.494964
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          7.000000
Name: previous, dtype: float64
---------------------
Statistic for poutcome
count           41176
unique              3
top       nonexistent
freq            35551
Name: poutcome, dtype: object
---------------------
Statistic for emp.var.rate
count    41176.000000
mean         0.081922
std          1.570883
min         -3.400000
25%         -1.800000
50%          1.100000
75%          1.400000
max          1.400000
Name: emp.var.rate, dtype: float64
---------------------
Statistic for cons.price.idx
count    41176.000000
mean        93.575720
std          0.578839
min         92.201000
25%         93.075000
50%         93.749000
75%         93.994000
max         94.767000
Name: cons.price.idx, dtype: float64
---------------------
Statistic for cons.conf.idx
count    41176.000000
mean       -40.502863
std          4.627860
min        -50.800000
25%        -42.700000
50%        -41.800000
75%        -36.400000
max        -26.900000
Name: cons.conf.idx, dtype: float64
---------------------
Statistic for euribor3m
count    41176.000000
mean         3.621293
std          1.734437
min          0.634000
25%          1.344000
50%          4.857000
75%          4.961000
max          5.045000
Name: euribor3m, dtype: float64
---------------------
Statistic for nr.employed
count    41176.000000
mean      5167.034870
std         72.251364
min       4963.600000
25%       5099.100000
50%       5191.000000
75%       5228.100000
max       5228.100000
Name: nr.employed, dtype: float64
---------------------
Statistic for y
count     41176
unique        2
top          no
freq      36537
Name: y, dtype: object
---------------------

Question Nr. 1: If there is an impact on that if people made a deposit depending on that if they were contacted before this campaign.

As we see from the following statement, there were contacts before *this campaign*, but not as a part of the *previous campaign*. Recap that 
- _pdays_ means _number of days that passed by after the client was last contacted from a previous campaign (numeric; 999 means client was not previously contacted)_
- _preveious_ means

In [33]:
df[df.pdays == 999].previous.value_counts()

0    35551
1     3696
2      349
3       50
4       12
5        2
6        1
Name: previous, dtype: int64

In [35]:
df.pdays.unique()

array([999,   6,   4,   3,   5,   1,   0,  10,   7,   8,   9,  11,   2,
        12,  13,  14,  15,  16,  21,  17,  18,  22,  25,  26,  19,  27,
        20], dtype=int64)

First, we should split *previous contacts* into two groups: 
 - previous campaign
 - all previous contacts (obviously including the previous campaign

array([0, 1, 2, 3, 4, 5, 6], dtype=int64)

In [30]:
df.previous.unique()

array([0, 1, 2, 3, 4, 5, 6, 7], dtype=int64)

In [26]:
# Convert target variable into numeric (code used from the VolodymyrGavrysh accomplished Task)
df.y = df.y.map({'no':0, 'yes':1}).astype('uint8')
df.corr()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
age,1.000000,-0.000808,0.004622,-0.034381,0.024379,-0.000242,0.001009,0.129075,0.010852,-0.017607,0.030381
duration,-0.000808,1.000000,-0.071765,-0.047556,0.020600,-0.027941,0.005303,-0.008126,-0.032861,-0.044672,0.405297
campaign,0.004622,-0.071765,1.000000,0.052606,-0.079182,0.150786,0.127826,-0.013657,0.135169,0.144129,-0.066361
pdays,-0.034381,-0.047556,0.052606,1.000000,-0.587508,0.271063,0.078920,-0.091374,0.296946,0.372659,-0.324948
previous,0.024379,0.020600,-0.079182,-0.587508,1.000000,-0.420587,-0.203197,-0.050929,-0.454571,-0.501411,0.230202
emp.var.rate,-0.000242,-0.027941,0.150786,0.271063,-0.420587,1.000000,0.775293,0.196257,0.972244,0.906949,-0.298289
cons.price.idx,0.001009,0.005303,0.127826,0.078920,-0.203197,0.775293,1.000000,0.059170,0.688180,0.521945,-0.136134
cons.conf.idx,0.129075,-0.008126,-0.013657,-0.091374,-0.050929,0.196257,0.059170,1.000000,0.277864,0.100679,0.054802
euribor3m,0.010852,-0.032861,0.135169,0.296946,-0.454571,0.972244,0.688180,0.277864,1.000000,0.945146,-0.307740
nr.employed,-0.017607,-0.044672,0.144129,0.372659,-0.501411,0.906949,0.521945,0.100679,0.945146,1.000000,-0.354669
y,0.030381,0.405297,-0.066361,-0.324948,0.230202,-0.298289,-0.136134,0.054802,-0.307740,-0.354669,1.000000